# Deep Learning Project
### Philipp Bauer, Ardit Fazliu, Cassandra Könitzer, Julian Kulinsky

Intro Text ...

### Import Data

In [1]:
# Wenn es zu Import-Fehlern kommt, die upgrade Zeile auskommentieren und neu laden
%pip install mlxtend --upgrade
from mlxtend.frequent_patterns import fpgrowth, association_rules

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 4.9 MB/s
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.24.2->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Installing collected packages: mlxtend
  Attempting uninstall: mlxtend
    Found existing installation: mlxtend 0.14.0
    Uninstalling mlxtend-0.14.0:
      Successfully uninstalled mlxtend-0.14.0
Successfully installed mlxtend-0.21.0

In [2]:
from psutil import virtual_memory
ram_gb = virtual_memory().total / 1e9
print('Your runtime has {:.1f} gigabytes of available RAM\n'.format(ram_gb))

if ram_gb < 20:
  print('Not using a high-RAM runtime')
else:
  print('You are using a high-RAM runtime!')

Your runtime has 27.3 gigabytes of available RAM

You are using a high-RAM runtime!

In [3]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_json("/content/drive/MyDrive/DeepLearning_WiSe22-23/Sports_and_Outdoors_5.json", lines=True, nrows=10000)

In [5]:
meta_df = pd.read_json("/content/drive/MyDrive/DeepLearning_WiSe22-23/meta_Sports_and_Outdoors.json", lines=True, nrows=20000)

In [ ]:
df_cleaned = pd.read_csv("/content/drive/MyDrive/DeepLearning_WiSe22-23/df_cleaned_final.csv", nrows=15000)

## Task 1

### 1a) Hybrid Data Exploration

In [ ]:
#df.head()

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,style,vote,image
0,5,True,"06 3, 2015",A180LQZBUWVOLF,0000032034,Michelle A,What a spectacular tutu! Very slimming.,Five Stars,1433289600,NaN,NaN,NaN
1,1,True,"04 1, 2015",ATMFGKU5SVEYY,0000032034,Crystal R,What the heck? Is this a tutu for nuns? I know...,Is this a tutu for nuns?!,1427846400,NaN,NaN,NaN
2,5,True,"01 13, 2015",A1QE70QBJ8U6ZG,0000032034,darla Landreth,Exactly what we were looking for!,Five Stars,1421107200,NaN,NaN,NaN
3,5,True,"12 23, 2014",A22CP6Z73MZTYU,0000032034,L. Huynh,I used this skirt for a Halloween costume and ...,I liked that the elastic waist didn't dig in (...,1419292800,NaN,NaN,NaN
4,4,True,"12 15, 2014",A22L28G8NRNLLN,0000032034,McKenna,This is thick enough that you can't see throug...,This is thick enough that you can't see throug...,1418601600,NaN,NaN,NaN

In [ ]:
meta_df.head()

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,"[Sports & Outdoors, Sports & Fitness, Other Sp...",,[3 layers of super-soft polyester tulle can be...,,Adult Tutu Assorted Colors (Turquoise),[],,BubuBibi,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","712,899 in Clothing, Shoes & Jewelry (","[B071LQWQBQ, B00M14DG0O, B076GTTY9W, B07BSZ4GY...","<img src=""https://images-na.ssl-images-amazon....",,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.80,0000032042,[],[],NaN
1,"[Sports & Outdoors, Sports & Fitness, Other Sp...",,[3 layers of super-soft polyester tulle can be...,,Bububibi Adult Ballet Tutu Cheetah Pink,[],,BubuBibi,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","712,899 in Clothing, Shoes & Jewelry (",[],"<img src=""https://images-na.ssl-images-amazon....",,"<div class=""a-fixed-left-grid a-spacing-none"">...",$11.97,0000032069,[],[],NaN
2,"[Sports & Outdoors, Sports & Fitness, Other Sp...",,[3 layers of super-soft polyester tulle can be...,,Girls Ballet Tutu Neon Orange,[B01MYHD3LV],,Unknown,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","[>#924,198 in Toys & Games (See Top 100 in Toy...","[B0152HBC52, B07C29WWV1, B01M0BIP9H, B00VXJHFR...",Toys & Games,,,$5.70,0000031860,[],[],NaN
3,"[Sports & Outdoors, Sports & Fitness, Other Sp...",,[TUtu],,Girls Ballet Tutu Zebra Hot Pink,[],,Tutu,[Tutu],"1,314,199 in Sports & Outdoors (",[0000013714],Sports & Outdoors,,,$7.50,0000031852,[],[],NaN
4,"[Sports & Outdoors, Sports & Fitness, Other Sp...",,[Dance tutu for girls ages 2-8 years. Perfect ...,,Girls Ballet Tutu Neon Blue,"[B009THXHPA, B00BEU1ZBI, B079PYLZTM, B00BEU1ZR...",,Bububibi,"[3 Layers - 100% Polyester Tulle, Hand Wash La...","[>#393,597 in Toys & Games (See Top 100 in Toy...","[B009THXHPA, B079PYLZTM, B079PQPLT3, B00UP6A3R...",Toys & Games,,,$6.54,0000031895,[],[],NaN

### 1b) Fake Review Detection

### 1c) Assiociation Analysis

#### Grundintention: 
Finden von frequent itemsets, d.h. von Produkten, die oft miteinander gekauft werden. Dazu sollen Assoziationsregeln aufgestellt werden.
#### Grundansatz: 
Wir betrachten für die Assoziations-Analyse aus dem Meta-Datensatz die folgenden Features: `asin`, `also_buy`, `also_view` und `category`. 
Diese Features sind für uns die Kernelemente einer einzigartigen User-Session. Dabei bilden `asin` und `also_buy` den Warenkorb des Kunden. In `also_view` werden die Produkte gelistet, die sich ein Kunde angeschaut, aber nicht gekauft hat. 


> User-Session = Warenkorb + Angeschaute Objekte

> Warenkorb = Gekauftes Hauptprodukt (`asin`) + Nebeneinkäufe (`also_buy`)

> Angeschaute Objekte = `also_view`

**Annahme:** Die Wahrscheinlichkeit, dass zwei User eine exakt selbe User-Session durchgeführt haben, halten wir für vernachlässigbar. 

**Generelle Bedingung:** Damit ein Eintrag aus dem Datensatz für die Assoziations-Analyse in Frage kommt, darf `also_buy` nicht leer sein, da dann nur ein Produkt gekauft wurde und somit kein relevants Itemset darstellt.

#### Herausforderungen und Lösungsansätze  

1.   Duplikate: Jede `asin` hat einen zugehörigen Warenkorb, der durch sich selbst und `also_buy` repräsentiert wird. Jede ASIN in `also_buy` hat einen eigenen Eintrag, der jedoch den selben Warenkorb repräsentiert. Hier müssen wir Lösungen finden, auf die im weiteren Verlauf eingegangen wird.
2.   Leere Einträge in `also_buy`: Transaktionen, die nur ein Produkt enthalten und dessen `also_buy`-Liste leer ist, werden nicht betrachtet und aus dem Datensatz aussortiert.

In [6]:
# Für unser weiteres Vorgehen sind nur die Spalten 'also_buy', 'asin', 'also_view' und 'category' relevant
associ = meta_df[['also_buy', 'asin', 'also_view', 'category']]

# Nur Zeilen berücksichtigen, in denen 'also_buy' nicht leer ist
associ_df = associ[associ['also_buy'].map(lambda d: len(d) > 0)]

# Nur Zeilen berücksichtigen, in denen 'category' nicht leer ist
associ_df = associ_df[associ_df['category'].map(lambda d: len(d) > 0)]

associ_df

,also_buy,asin,also_view,category
2,[B01MYHD3LV],0000031860,"[B0152HBC52, B07C29WWV1, B01M0BIP9H, B00VXJHFR...","[Sports & Outdoors, Sports & Fitness, Other Sp..."
4,"[B009THXHPA, B00BEU1ZBI, B079PYLZTM, B00BEU1ZR...",0000031895,"[B009THXHPA, B079PYLZTM, B079PQPLT3, B00UP6A3R...","[Sports & Outdoors, Sports & Fitness, Other Sp..."
5,"[B07BSZ4GYZ, B00P87ZO2E, B07CPV7P5B, B07CJWWMQW]",0000032034,"[B07CPV7P5B, B01JS7F3WU, B074WJ2C43, B01GYA3L2...","[Sports & Outdoors, Sports & Fitness, Other Sp..."
8,[B07C12VSM5],0000031887,"[B00D0ZXGOY, B07GXKD7DZ, 0000031860, B008F0SMU...","[Sports & Outdoors, Sports & Fitness, Other Sp..."
13,"[B0713Z5DGM, B01KUDOLN8, B01DJBCN3I, B0056XU5X...",0692747222,[],"[Sports & Outdoors, Sports & Fitness, Exercise..."
...,...,...,...,...
19974,"[B007YDMIAG, B00CNT6K6O, B0041D6ZV0, B000HHLPN...",B000CC1QLS,"[B01DVZB3H4, B005JEQQPK, B003M6VWHE, B06XRV4CS...","[Sports & Outdoors, Sports & Fitness, Other Sp..."
19977,"[B0078FWCJW, B00CH3E5ZY, B01DWBLZ98, B008KECI8...",B000CC59FC,"[B07CR6PTMJ, B07C15NW28, B00CH3E5ZY, B07LF5VBY...","[Sports & Outdoors, Outdoor Recreation, Climbi..."
19978,"[B002HPWC2U, B00J4KC6SG, B003X3V00U, B000CEC9F...",B000CC6668,"[B01DY1KGWS, B00D6D4GPI, B077DTCLN5, B00EJFC5T...","[Sports & Outdoors, Sports & Fitness, Other Sp..."
19989,"[1938477073, 1591792819, 1450400248, 080521031...",B000CCBPAA,"[1591792819, 0974470643, 1450400248]","[Sports & Outdoors, Sports & Fitness, Exercise..."
19997,[B000ELSSZE],B000CCFFR4,[],"[Sports & Outdoors, Outdoor Recreation, Access..."

#### Finding #1
Zuerst wurden initial 20.000 Zeilen des Meta-Datensatzes importiert. Nach der Filterung der für die Assoziationsanalyse relevanten Spalten, in denen die Ausprägungen keine leere Liste darstellen, bleiben 6.556 Zeilen übrig. Das sind knapp 32.8% des ursprünglichen Datensatzes. <br>
Dies ist darauf zurückzuführen, dass sich einige Transaktionen aus **lediglich einem gekauften Produkt** zusammensetzen. Verdeutlicht wird es, wenn man zuerst nur auf `also_buy` filtert (Länge der Liste je Zeile > 0). Hier wird der Datensatz von 20.000 Zeilen auf 6.900 reduziert (-65.5%). <br>
Die Bereinigung von Daten, in denen `category` nicht leer ist, reduziert den Datensatz dann final auf 6.556 Zeilen - also circa um weitere 5.0%. Wir nehmen an, dass diese 5.0% ASINs darstellen, die nicht der Überkategorie 'Sports & Outdoors' angehören oder eine Anomalie vorliegt.

In [8]:
# Erstellen einer ProductsBought Column und initial mit 0 befüllen, um asin + also_buy zu verbinden
# Wir nehmen an, dass also_buy + title = Warenkorb ist
associ_df['ProductsBought'] = 0

In der obenstehenden Code-Zelle wurde eine neue Spalte erstellt und initial mit 0 befüllt: `ProductsBought`. 
Diese Spalte soll das Resultat der Konkatenation der Spalten `also_buy`und `asin` darstellen, basierend auf unserer grundlegenden Annahme, dass ein Warenkorb aus `asin` und `also_buy` besteht.

In [9]:
# Iterieren über jede Zeile und erweitern der Liste um die Werte in also_buy und asin
# Für jede Zeile wird eine Liste erstellt
for index in range(len(associ_df)):
  indexlist = list()
  if len(associ_df.iloc[index][0]) == 0:
    pass
  else:
    for entry in associ_df.iloc[index][0]:
      indexlist.append(entry)
  indexlist.append(associ_df.iloc[index][1])
  associ_df['ProductsBought'].iloc[index] = indexlist
associ_df

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,also_buy,asin,also_view,category,ProductsBought
2,[B01MYHD3LV],0000031860,"[B0152HBC52, B07C29WWV1, B01M0BIP9H, B00VXJHFR...","[Sports & Outdoors, Sports & Fitness, Other Sp...","[B01MYHD3LV, 0000031860]"
4,"[B009THXHPA, B00BEU1ZBI, B079PYLZTM, B00BEU1ZR...",0000031895,"[B009THXHPA, B079PYLZTM, B079PQPLT3, B00UP6A3R...","[Sports & Outdoors, Sports & Fitness, Other Sp...","[B009THXHPA, B00BEU1ZBI, B079PYLZTM, B00BEU1ZR..."
5,"[B07BSZ4GYZ, B00P87ZO2E, B07CPV7P5B, B07CJWWMQW]",0000032034,"[B07CPV7P5B, B01JS7F3WU, B074WJ2C43, B01GYA3L2...","[Sports & Outdoors, Sports & Fitness, Other Sp...","[B07BSZ4GYZ, B00P87ZO2E, B07CPV7P5B, B07CJWWMQ..."
8,[B07C12VSM5],0000031887,"[B00D0ZXGOY, B07GXKD7DZ, 0000031860, B008F0SMU...","[Sports & Outdoors, Sports & Fitness, Other Sp...","[B07C12VSM5, 0000031887]"
13,"[B0713Z5DGM, B01KUDOLN8, B01DJBCN3I, B0056XU5X...",0692747222,[],"[Sports & Outdoors, Sports & Fitness, Exercise...","[B0713Z5DGM, B01KUDOLN8, B01DJBCN3I, B0056XU5X..."
...,...,...,...,...,...
19974,"[B007YDMIAG, B00CNT6K6O, B0041D6ZV0, B000HHLPN...",B000CC1QLS,"[B01DVZB3H4, B005JEQQPK, B003M6VWHE, B06XRV4CS...","[Sports & Outdoors, Sports & Fitness, Other Sp...","[B007YDMIAG, B00CNT6K6O, B0041D6ZV0, B000HHLPN..."
19977,"[B0078FWCJW, B00CH3E5ZY, B01DWBLZ98, B008KECI8...",B000CC59FC,"[B07CR6PTMJ, B07C15NW28, B00CH3E5ZY, B07LF5VBY...","[Sports & Outdoors, Outdoor Recreation, Climbi...","[B0078FWCJW, B00CH3E5ZY, B01DWBLZ98, B008KECI8..."
19978,"[B002HPWC2U, B00J4KC6SG, B003X3V00U, B000CEC9F...",B000CC6668,"[B01DY1KGWS, B00D6D4GPI, B077DTCLN5, B00EJFC5T...","[Sports & Outdoors, Sports & Fitness, Other Sp...","[B002HPWC2U, B00J4KC6SG, B003X3V00U, B000CEC9F..."
19989,"[1938477073, 1591792819, 1450400248, 080521031...",B000CCBPAA,"[1591792819, 0974470643, 1450400248]","[Sports & Outdoors, Sports & Fitness, Exercise...","[1938477073, 1591792819, 1450400248, 080521031..."
19997,[B000ELSSZE],B000CCFFR4,[],"[Sports & Outdoors, Outdoor Recreation, Access...","[B000ELSSZE, B000CCFFR4]"

Nachdem der Warenkorb erstellt worden ist, werden im nächsten Schritt die Spalten `ProductsBought`(Warenkorb) und `also_view` extrahiert, um die Grundlage für die Identifikation der User-Sessions zu schaffen.

In [10]:
# Erstellen eines neuen DataFrames.
# Wir nehmen an, dass ProductsBought und also_view eine einzigartige User-Session darstellen.
result_df = pd.DataFrame(data=associ_df[['ProductsBought', 'also_view']])
result_df

,ProductsBought,also_view
2,"[B01MYHD3LV, 0000031860]","[B0152HBC52, B07C29WWV1, B01M0BIP9H, B00VXJHFR..."
4,"[B009THXHPA, B00BEU1ZBI, B079PYLZTM, B00BEU1ZR...","[B009THXHPA, B079PYLZTM, B079PQPLT3, B00UP6A3R..."
5,"[B07BSZ4GYZ, B00P87ZO2E, B07CPV7P5B, B07CJWWMQ...","[B07CPV7P5B, B01JS7F3WU, B074WJ2C43, B01GYA3L2..."
8,"[B07C12VSM5, 0000031887]","[B00D0ZXGOY, B07GXKD7DZ, 0000031860, B008F0SMU..."
13,"[B0713Z5DGM, B01KUDOLN8, B01DJBCN3I, B0056XU5X...",[]
...,...,...
19974,"[B007YDMIAG, B00CNT6K6O, B0041D6ZV0, B000HHLPN...","[B01DVZB3H4, B005JEQQPK, B003M6VWHE, B06XRV4CS..."
19977,"[B0078FWCJW, B00CH3E5ZY, B01DWBLZ98, B008KECI8...","[B07CR6PTMJ, B07C15NW28, B00CH3E5ZY, B07LF5VBY..."
19978,"[B002HPWC2U, B00J4KC6SG, B003X3V00U, B000CEC9F...","[B01DY1KGWS, B00D6D4GPI, B077DTCLN5, B00EJFC5T..."
19989,"[1938477073, 1591792819, 1450400248, 080521031...","[1591792819, 0974470643, 1450400248]"
19997,"[B000ELSSZE, B000CCFFR4]",[]

Damit wir im Folgenden Duplikate ausschließen können, werden die Spalten `ProductsBought` und `also_view` sortiert gemäß dem Ansatz, dass für jeden Warenkorb > 1 Item jede ASIN eine eigenen Transaktions-Eintrag bekommt. 
Dies dient dazu die einzelnen Spalten genau miteinander vergleichen zu können ohne auf die Reihenfolge der ASINs zu beachten, die keine Differenzierung einer Session darstellt. 
Verdeutlichung: Gegeben sei eine Transaktion mit den Items X, Y, Z. Eine weitere Transaktion hat die Reihenfolge Y, X, Z. Für uns stellt dies die selbe User-Session dar, basierend auf den obenstehenden Annahmen.

In [11]:
# Sortieren von ProductsBought in alphabetischer Reihenfolge
productsbought_col = result_df['ProductsBought']
productsbought_col = productsbought_col.map(sorted)

# Sortieren von also_view in alphabetischer Reihenfolge
alsoview_col = result_df['also_view']
alsoview_col = alsoview_col.map(sorted)

# Sortierte Spalten result_df anhängen. So können wir sicherstellen, dass Duplikate die selbe Reihenfolge von ASINs haben
result_df['ProductsBoughtSorted'] = productsbought_col
result_df['AlsoViewSorted'] = alsoview_col
result_df

,ProductsBought,also_view,ProductsBoughtSorted,AlsoViewSorted
2,"[B01MYHD3LV, 0000031860]","[B0152HBC52, B07C29WWV1, B01M0BIP9H, B00VXJHFR...","[0000031860, B01MYHD3LV]","[0000031887, B005C4Y4F6, B007XAI53E, B00KF54D6..."
4,"[B009THXHPA, B00BEU1ZBI, B079PYLZTM, B00BEU1ZR...","[B009THXHPA, B079PYLZTM, B079PQPLT3, B00UP6A3R...","[0000031895, B00009IMCT, B00097E7R6, B000F3KPK...","[B001CK3OIW, B00942YEVQ, B009THX5MA, B009THXHP..."
5,"[B07BSZ4GYZ, B00P87ZO2E, B07CPV7P5B, B07CJWWMQ...","[B07CPV7P5B, B01JS7F3WU, B074WJ2C43, B01GYA3L2...","[0000032034, B00P87ZO2E, B07BSZ4GYZ, B07CJWWMQ...","[B00CL1NYP4, B00D0FCQQI, B00JHNSNSM, B00KKNXKF..."
8,"[B07C12VSM5, 0000031887]","[B00D0ZXGOY, B07GXKD7DZ, 0000031860, B008F0SMU...","[0000031887, B07C12VSM5]","[0000031860, B008F0SMUC, B00D0ZXGOY, B074R6R1B..."
13,"[B0713Z5DGM, B01KUDOLN8, B01DJBCN3I, B0056XU5X...",[],"[0692747222, B000SOXALE, B0056XU5XS, B01DJBCN3...",[]
...,...,...,...,...
19974,"[B007YDMIAG, B00CNT6K6O, B0041D6ZV0, B000HHLPN...","[B01DVZB3H4, B005JEQQPK, B003M6VWHE, B06XRV4CS...","[B000CC1QLS, B000HHLPNW, B000HHSCT2, B002HW9AJ...","[B000BAXHOA, B0011UBZ6G, B0014B1E8Q, B002HHZ4Y..."
19977,"[B0078FWCJW, B00CH3E5ZY, B01DWBLZ98, B008KECI8...","[B07CR6PTMJ, B07C15NW28, B00CH3E5ZY, B07LF5VBY...","[0762755334, 0762782072, 0762790040, 097401121...","[B0001VO9EQ, B0026LUVTG, B002J8VXRU, B003VOSDD..."
19978,"[B002HPWC2U, B00J4KC6SG, B003X3V00U, B000CEC9F...","[B01DY1KGWS, B00D6D4GPI, B077DTCLN5, B00EJFC5T...","[1570768862, B0006G57YW, B0006G5NQY, B000A6XGG...","[B002HODNOC, B002KSDI2C, B003M9A5FQ, B0063O1V7..."
19989,"[1938477073, 1591792819, 1450400248, 080521031...","[1591792819, 0974470643, 1450400248]","[0385721544, 0609810340, 0805210318, 086547752...","[0974470643, 1450400248, 1591792819]"
19997,"[B000ELSSZE, B000CCFFR4]",[],"[B000CCFFR4, B000ELSSZE]",[]

Für die Duplikatentferung werden nun die sortierten Listen `ProductsBoughtSorted` sowie `AlsoViewSorted` zusammengeführt. Dies stellt für uns die absolut einzigartige User-Session dar (`UserSession`). 
Im Anschluss wird eine boolsche Maske (`mask`) erstellt, um Duplikate zu identifizieren. Im Anschluss wird diese Maske auf unserem Datensatz angewandt.

In [12]:
# Zusammenführen beider sortierten Listen
col1 = result_df['ProductsBoughtSorted']
col2 = result_df['AlsoViewSorted']
col3 = [x + y for x, y in zip(col1, col2)]
result_df['UserSession'] = col3

# Suche nach Duplikaten
# Erstellen einer boolschen Maske zur Identifizierung von Duplikaten in UserSession
mask = result_df['UserSession'].duplicated()

# Anwenden der Maske auf unseren Datensatz
result_df = result_df[~mask]

result_df

,ProductsBought,also_view,ProductsBoughtSorted,AlsoViewSorted,UserSession
2,"[B01MYHD3LV, 0000031860]","[B0152HBC52, B07C29WWV1, B01M0BIP9H, B00VXJHFR...","[0000031860, B01MYHD3LV]","[0000031887, B005C4Y4F6, B007XAI53E, B00KF54D6...","[0000031860, B01MYHD3LV, 0000031887, B005C4Y4F..."
4,"[B009THXHPA, B00BEU1ZBI, B079PYLZTM, B00BEU1ZR...","[B009THXHPA, B079PYLZTM, B079PQPLT3, B00UP6A3R...","[0000031895, B00009IMCT, B00097E7R6, B000F3KPK...","[B001CK3OIW, B00942YEVQ, B009THX5MA, B009THXHP...","[0000031895, B00009IMCT, B00097E7R6, B000F3KPK..."
5,"[B07BSZ4GYZ, B00P87ZO2E, B07CPV7P5B, B07CJWWMQ...","[B07CPV7P5B, B01JS7F3WU, B074WJ2C43, B01GYA3L2...","[0000032034, B00P87ZO2E, B07BSZ4GYZ, B07CJWWMQ...","[B00CL1NYP4, B00D0FCQQI, B00JHNSNSM, B00KKNXKF...","[0000032034, B00P87ZO2E, B07BSZ4GYZ, B07CJWWMQ..."
8,"[B07C12VSM5, 0000031887]","[B00D0ZXGOY, B07GXKD7DZ, 0000031860, B008F0SMU...","[0000031887, B07C12VSM5]","[0000031860, B008F0SMUC, B00D0ZXGOY, B074R6R1B...","[0000031887, B07C12VSM5, 0000031860, B008F0SMU..."
13,"[B0713Z5DGM, B01KUDOLN8, B01DJBCN3I, B0056XU5X...",[],"[0692747222, B000SOXALE, B0056XU5XS, B01DJBCN3...",[],"[0692747222, B000SOXALE, B0056XU5XS, B01DJBCN3..."
...,...,...,...,...,...
19974,"[B007YDMIAG, B00CNT6K6O, B0041D6ZV0, B000HHLPN...","[B01DVZB3H4, B005JEQQPK, B003M6VWHE, B06XRV4CS...","[B000CC1QLS, B000HHLPNW, B000HHSCT2, B002HW9AJ...","[B000BAXHOA, B0011UBZ6G, B0014B1E8Q, B002HHZ4Y...","[B000CC1QLS, B000HHLPNW, B000HHSCT2, B002HW9AJ..."
19977,"[B0078FWCJW, B00CH3E5ZY, B01DWBLZ98, B008KECI8...","[B07CR6PTMJ, B07C15NW28, B00CH3E5ZY, B07LF5VBY...","[0762755334, 0762782072, 0762790040, 097401121...","[B0001VO9EQ, B0026LUVTG, B002J8VXRU, B003VOSDD...","[0762755334, 0762782072, 0762790040, 097401121..."
19978,"[B002HPWC2U, B00J4KC6SG, B003X3V00U, B000CEC9F...","[B01DY1KGWS, B00D6D4GPI, B077DTCLN5, B00EJFC5T...","[1570768862, B0006G57YW, B0006G5NQY, B000A6XGG...","[B002HODNOC, B002KSDI2C, B003M9A5FQ, B0063O1V7...","[1570768862, B0006G57YW, B0006G5NQY, B000A6XGG..."
19989,"[1938477073, 1591792819, 1450400248, 080521031...","[1591792819, 0974470643, 1450400248]","[0385721544, 0609810340, 0805210318, 086547752...","[0974470643, 1450400248, 1591792819]","[0385721544, 0609810340, 0805210318, 086547752..."
19997,"[B000ELSSZE, B000CCFFR4]",[],"[B000CCFFR4, B000ELSSZE]",[],"[B000CCFFR4, B000ELSSZE]"

#### Finding #2:
Die Duplikatentfernung bereinigt unseren Datensatz von 6.556 Einträgen auf 4.758 (-27.4%). <br>
Insgesamt konnten wir durch diese Filterschritte den initialen Datensatz von 20.000 Zeilen auf 4.758 reduzieren. Am Ende bleiben also 23.8% des Originaldatensatzes übrig.

In [13]:
# Für die Bestimmung von frequent itemsets und association rules nutzen wir nur ProductsBought, ergo den gesamten Warenkorb einer Session
final_df = pd.DataFrame(data=result_df['ProductsBought'])
final_df

                                          ProductsBought
2                               [B01MYHD3LV, 0000031860]
4      [B009THXHPA, B00BEU1ZBI, B079PYLZTM, B00BEU1ZR...
5      [B07BSZ4GYZ, B00P87ZO2E, B07CPV7P5B, B07CJWWMQ...
8                               [B07C12VSM5, 0000031887]
13     [B0713Z5DGM, B01KUDOLN8, B01DJBCN3I, B0056XU5X...
...                                                  ...
19974  [B007YDMIAG, B00CNT6K6O, B0041D6ZV0, B000HHLPN...
19977  [B0078FWCJW, B00CH3E5ZY, B01DWBLZ98, B008KECI8...
19978  [B002HPWC2U, B00J4KC6SG, B003X3V00U, B000CEC9F...
19989  [1938477073, 1591792819, 1450400248, 080521031...
19997                           [B000ELSSZE, B000CCFFR4]

[4758 rows x 1 columns]

In [14]:
# Laden des gesamten Datensatzes, um später die Daten auf title und category matchen zu können
compare = pd.read_json("/content/drive/MyDrive/DeepLearning_WiSe22-23/meta_Sports_and_Outdoors.json", lines=True)

#### Transformieren der Daten
Im Folgenden werden nun die einzelnen Warenkörbe aus `final_df` in eine Liste von ASINs überführt und einer übergeordneten Liste angefügt. Diese zweidimensionale Liste `data_to_be_encoded` ist die Bedingung für die Transformation der Daten in ein für die Assoziationsanalyse geeignetes Format. Es wird dazu verwendet, um den `TransactionEncoder` auf unseren Warenkorb anzuwenden. Dieser dient dazu, jedes Produkt in eine eigene Spalte umzuwandeln. Jede Transaktion stellt dann eine Zeile dar. Die Werte je Zeile werden dann mit `True`/`False` befüllt, um zu definieren, ob jene ASIN (Spalte) im Warenkorb enthalten war.

#### Wichtiger Vorschritt
Im nächsten Schritt werden wir nun alle ASINs der zweidimensionalen `data_to_be_encoded` entfernen, die nicht der Überkategorie 'Sports & Outdoors' angehören. Das ist aus dem Grund notwendig, da wir im Laufe des Projekts feststellen mussten, dass frequent Itemsets mit ASINs gebildet werden, die keine Kategorie hatten. Sie stammten wahrscheinlich aus einer anderen Kategorie. Da wir dies nicht von vornherein ausschließen können durch unsere erste Filterung auf `category`, da unsere Leistungsfähigkeit leider nur 20.000 Daten umfasst, müssen wir hier diesen Schritt ausführen, um sicherzustellen, dass ausschließlich ASINs der Kategorie 'Sports & Outdoors' im Datensatz enthalten sind. <br>
Die dafür durchzführenden Schritte sind die Folgenden:
1. Umwandlung der Spalte `ProductsBought` (Warenkörbe) in eine zweidimensionale Liste `data_to_be_encoded`. 
2. Transformation der Spalte `asin` des gesamten Datensatzes in ein Dictionary, wobei die einzelnen ASINs die Keys der Dictionaries darstellen. Der Value des zugehörigen Keys entspricht dem Index der ASIN im Gesamtdatensatz. 
 - Wir nutzen aus Performance-Gründen die ASINs als Dicitionary-Keys. Würden wir die Spalte `asin` lediglich als Liste speichern und dann die Warenkorb-ASINs versuchen matchen zu wollen, würde dies erhebliche Laufzeit-Probleme und Performance-Zeit kosten. Das Dictionary bietet hier erhebliche Performance-Optimierungen. <br> Quelle: Tas, S. (2021, December 24). Faster Lookups In Python - Towards Data Science. Medium. https://towardsdatascience.com/faster-lookups-in-python-1d7503e9cd38
3. Iterieren über jedes Listenelement sowie jede Liste innerhalb eines Listenelements. 
4. Ist die ASIN kein Key des Dictionaries, so wird die ASIN als Listenelement gelöscht, da es sich dann offensichtlich nicht um ein Sport-Produkt handelt.
5. Ist die Länge des Listenelements nach der Bereinigung <= 1, so wird auch das gesamte Listenelement gelöscht, da es dann keine Bedeutung für die Assoziationsanalyse hat (Transaktionen mit 1 Item).

In [15]:
# Entfernen von ASINs, die nicht in 'asin' des Original-Datensatzes, da sonst nicht in der Kategorie Sport vorhanden
# Wenn die ASIN in 'asin', dann ist es garantiert Sport (NaN categories wurden ja entfernt)

# 2D-Liste
data_to_be_encoded = final_df['ProductsBought'].to_list()

# Look up, ob asin im Original-Datensatz vorhanden ist
asin_col = compare['asin'].to_list()
# Umwandlung in ein dict, wobei die ASINs als Key definiert werden (Performance-Gründe Lookup)
datalist = {k: v for v, k in enumerate(asin_col)}

print(f"Before cleaning: {len(data_to_be_encoded)}")
#Iterieren über jedes Element in der zweidimensionalen Liste
for list_element in data_to_be_encoded:
  # Iterieren über jede ASIN innerhalb einer Liste
  for asin in list_element:
    # Ist die asin nicht einer der Keys, wird sie nicht im große Datensatz als asin gelistet (ergo kein Sport)
    if asin not in datalist.keys():
      # Der Eintrag wird gelöscht, wenn die obenstehende Bedingung zutrifft
      list_element.remove(asin)
  # Ist die Länge des Listenelements dann kleiner oder gleich 1, wird das komplette Listenelement gelöscht. Uns interessieren nur die Sport-Artikel.
  if len(list_element) <= 1:
    data_to_be_encoded.remove(list_element)
print(f"After cleaning: {len(data_to_be_encoded)}")
# data_to_be_encoded

Before cleaning: 4758
After cleaning: 4386

#### Finding #X:

Nach dieser Bereinigung werden die zu betrachtenden Warenkörbe/Transaktionen von 4.758 auf 4.386 reduziert (-7.8%). Diese Bereinigung hat alle Items aussortiert, die keine Sportsitems sind. Nun können wir die zweidimensionale Liste `data_to_be_encoded` mit `TransactionEncoder` in eine True/False-Matrix überführen.

Die bereinigte Liste wird nun in eine `True`/`False`-Matrix überführt, wobei jede Spalte eine einzelne ASIN darstellt. Jede Zeile stellt dabei eine Transaktion (bzw. Warenkorb) dar. 
`True` indiziert, dass diese ASIN in der Transaktion enthalten ist.
`False` indiziert, dass diese ASIN nicht in der Transaktion vorkommt.

In [16]:
# TranscationEncoder, um Transaktions Liste in True/False Matrix zu überführen
from mlxtend.preprocessing import TransactionEncoder
a = TransactionEncoder()
a_data = a.fit(data_to_be_encoded).transform(data_to_be_encoded)
asdf = pd.DataFrame(a_data,columns=a.columns_)
#asdf = asdf.replace(False,0.0)
#asdf = asdf.replace(True,1.0)
asdf

,0000031895,0000032034,0007145160,0007921268,0008314047,006000889X,0060256656,0060538260,0060637242,0060957034,...,B07MNVSYNR,B07MNW44PD,B07MNY39PG,B07MNY6XTN,B07MR1JC8Z,B07MR1Z684,B07MR3T72Z,B07MR5DFDQ,B07MR6RQH1,B07MRGGLWD
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4381,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4382,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4383,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4384,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4385,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### Finding #3:
Mithilfe von `TransactionEncoder` entstehen 54.672 Spalten. Dies deutet darauf hin, dass die Produktauswahl des Online-Retailers sehr groß ist und die Kunden eine Bandbreite an zur Verfügung stehenden Produkten hat. 
# (Min Support Treshold bei X Transaktionen?)
Dies macht die Bestimmung von frequent itemsets dahingehend herausfordender, dass die Kunden aufgrund der großen Auswahl sehr individuell konsumieren können und somit höhere Supportwerte sehr unwahrscheinlich sind. Aus diesem Grund werden wir dies in der Auswahl des Support-Tresholds berücksichtigen. <br>
**Wir können wir den min_support wissenschaftlich basiert wählen?**

#### Anwenden von FP-Growth
Der FP Growth Algorithmus ist eine Methode zur Identifizierung häufiger Muster in Transaktionsdaten. Dazu wird ein FP-Baum erstellt, eine Datenstruktur, in der die Transaktionsdaten in einer hierarchischen Struktur gespeichert werden, wobei jedes Element eines Musters in einem Knoten dargestellt wird. Der Algorithmus durchläuft dann den FP-Baum und zählt, wie häufig jedes Muster vorkommt. Muster, die häufiger als ein vordefinierter Schwellenwert auftreten, werden als häufige Muster identifiziert. Der FP-Growth-Algorithmus ist schneller als der Apriori-Algorithmus, da er die gesamte Erkennung häufiger Muster in einem einzigen Durchgang durch die Daten durchführt. Er ist auch in der Lage, große Datensätze zu verarbeiten, was ihn für die Verarbeitung großer Mengen von Transaktionsdaten wie in unserem Use Case geeignet macht.

In [17]:
# Ableitung häufiger Elemente auf der Grundlage des FP Growth Algorithmus
new_df = fpgrowth(asdf, min_support = 0.008, use_colnames = True)
# new_df = new_df[new_df['itemsets'].map(lambda d: len(d) > 1)]
new_df

     support                  itemsets
0   0.008436              (B00B4IHXRU)
1   0.011172              (B00D3PNZB0)
2   0.008664              (B015NFRKTK)
3   0.008436              (B0150TYVGY)
4   0.036252              (B001AMGGBO)
5   0.008664              (B0009V5QEA)
6   0.008208              (B00NG1ECBS)
7   0.009576              (B001ANXJVI)
8   0.008892              (B00FMXRDL4)
9   0.022572              (B0050LUBZ8)
10  0.013908              (B00FA2RLX2)
11  0.015960              (B07M8SLCD1)
12  0.014364              (B005ADORGK)
13  0.013224              (B0094FP958)
14  0.011628              (B000ZKNFW0)
15  0.010260              (B007TFWVN8)
16  0.009576              (B0010FFKXG)
17  0.013680              (B07FB8P4WZ)
18  0.008208              (B01549SRLA)
19  0.009348              (B009YSFT3M)
20  0.008208              (B07FD3474S)
21  0.013908              (B00C6OUDX2)
22  0.008208              (B0036DS6Q8)
23  0.013680              (B004MP6NWI)
24  0.009348              (B003P99888)
25  0.009804              (B005188T90)
26  0.009348              (B00J1BV01C)
27  0.008208              (B004LR9SDI)
28  0.012996              (B018TVQX0C)
29  0.008208              (B000EYULIS)
30  0.010716              (B004MPDURY)
31  0.008208              (B01FVHU826)
32  0.008664              (B000BYAKDM)
33  0.011856              (B000HHLPNW)
34  0.010488              (B00D9NW32I)
35  0.013908              (B07M66VRZ4)
36  0.013680              (B0179JC31I)
37  0.008892              (B01E4X34P6)
38  0.015732              (B00NW23YBA)
39  0.011400              (B000NORVHI)
40  0.008664              (B000C17KRI)
41  0.010488              (B00811WQJS)
42  0.008664              (B005JAMHXO)
43  0.009804  (B001AMGGBO, B000ZKNFW0)
44  0.008892  (B0010FFKXG, B001AMGGBO)
45  0.008436  (B07FB8P4WZ, B001AMGGBO)
46  0.008892  (B001AMGGBO, B07M66VRZ4)
47  0.009804  (B0179JC31I, B0050LUBZ8)
48  0.012540  (B00NW23YBA, B0050LUBZ8)
49  0.009804  (B00811WQJS, B0050LUBZ8)

In [18]:
# Ableitung von Assoziationsregeln auf der Grundlage des confidence treshold -> 0.6
df_ar = association_rules(new_df, metric = "confidence", min_threshold = 0.6)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(B000ZKNFW0),(B001AMGGBO),0.011628,0.036252,0.009804,0.843137,23.257862,0.009382,6.143895
1,(B0010FFKXG),(B001AMGGBO),0.009576,0.036252,0.008892,0.928571,25.614555,0.008545,13.492476
2,(B07FB8P4WZ),(B001AMGGBO),0.013680,0.036252,0.008436,0.616667,17.010692,0.007940,2.514126
3,(B07M66VRZ4),(B001AMGGBO),0.013908,0.036252,0.008892,0.639344,17.636251,0.008388,2.672211
4,(B0179JC31I),(B0050LUBZ8),0.013680,0.022572,0.009804,0.716667,31.750505,0.009495,3.449747
5,(B00NW23YBA),(B0050LUBZ8),0.015732,0.022572,0.012540,0.797101,35.314010,0.012185,4.817325
6,(B00811WQJS),(B0050LUBZ8),0.010488,0.022572,0.009804,0.934783,41.413702,0.009567,14.987232

Um in den nächsten Schritten mit den ASINs weiterarbeiten zu können, werden diese in Strings umgewandelt. Durch die Erstellung der Assoziationsregeln liegen diese nämlich initial in Form von Frozensets vor.

In [19]:
# Umwandeln von frozensets in string
df_ar["antecedents"] = df_ar["antecedents"].apply(lambda x: ', '.join(list(x))).astype("unicode")
df_ar["consequents"] = df_ar["consequents"].apply(lambda x: ', '.join(list(x))).astype("unicode")

In [20]:
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,B000ZKNFW0,B001AMGGBO,0.011628,0.036252,0.009804,0.843137,23.257862,0.009382,6.143895
1,B0010FFKXG,B001AMGGBO,0.009576,0.036252,0.008892,0.928571,25.614555,0.008545,13.492476
2,B07FB8P4WZ,B001AMGGBO,0.013680,0.036252,0.008436,0.616667,17.010692,0.007940,2.514126
3,B07M66VRZ4,B001AMGGBO,0.013908,0.036252,0.008892,0.639344,17.636251,0.008388,2.672211
4,B0179JC31I,B0050LUBZ8,0.013680,0.022572,0.009804,0.716667,31.750505,0.009495,3.449747
5,B00NW23YBA,B0050LUBZ8,0.015732,0.022572,0.012540,0.797101,35.314010,0.012185,4.817325
6,B00811WQJS,B0050LUBZ8,0.010488,0.022572,0.009804,0.934783,41.413702,0.009567,14.987232

Im nächsten Schritt matchen wir die ASINs auf die Produktnamen der ASINs (`title`). Dazu itereren wir über `antecedents` sowie `consequents` und speichern die zugehörigen Namen des Produktes in einer Liste, die wir dann in ein DataFrame `rules_df` umwandeln. Dieses wird dann mit den Spalten `antecedent_support`, `consequent_support`, `support`, `confidence`, `lift`, `leverage` und `conviction` in ein finales DataFrame `association_rules_df` zusammengemerged. 
Den Namen (`title`) der ASIN extrahieren wird über `.iloc` aus dem Original-Datensatz. Dazu wird über `datalist` (= Dict mit allen ASINs als Key) der Zeilenindex extrahiert, um dann den Namen zu erhalten.

In [ ]:
all_rules = list()
subcats = list()
for i in range(len(df_ar.index)):
  rules = list()
  subcat = list()
  try:
    rules.append(compare.iloc[datalist[df_ar['antecedents'][i]]]['title'])
    subcat.append(compare.iloc[datalist[df_ar['antecedents'][i]]]['category'])
  except KeyError:
    rules.append(df_ar['antecedents'][i])
    subcat.append(df_ar['antecedents'][i])

  try:
    rules.append(compare.iloc[datalist[df_ar['consequents'][i]]]['title'])
    subcat.append(compare.iloc[datalist[df_ar['consequents'][i]]]['category'])
  except KeyError:
    rules.append(df_ar['consequents'][i])
    subcat.append(None)

  all_rules.append(rules)
  subcats.append(subcat)

rules_df = pd.DataFrame(all_rules, columns=['antecedents', 'consequents'])
# subcats_df = pd.DataFrame(subcats)
sliced_df_ar = df_ar.iloc[:, 2:]

association_rules_df = pd.merge(rules_df, sliced_df_ar, left_index=True, right_index=True)
association_rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,Panther Martin Best of the Best Kit.,"Water Gremlin Removable Split Shot Pro Pack, 4...",0.011628,0.036252,0.009804,0.843137,23.257862,0.009382,6.143895
1,Leland Lures Trout Magnet Neon Kit - 70 Grub B...,"Water Gremlin Removable Split Shot Pro Pack, 4...",0.009576,0.036252,0.008892,0.928571,25.614555,0.008545,13.492476
2,B07FB8P4WZ,"Water Gremlin Removable Split Shot Pro Pack, 4...",0.013680,0.036252,0.008436,0.616667,17.010692,0.007940,2.514126
3,B07M66VRZ4,"Water Gremlin Removable Split Shot Pro Pack, 4...",0.013908,0.036252,0.008892,0.639344,17.636251,0.008388,2.672211
4,Oumers Universal Bike Chain Tool with Chain Ho...,"Shimano Universal Standard Brake Cable Set, Fo...",0.013680,0.022572,0.009804,0.716667,31.750505,0.009495,3.449747
5,100 Pcs Alloy Road Mountain Bicycle Bike Brake...,"Shimano Universal Standard Brake Cable Set, Fo...",0.015732,0.022572,0.012540,0.797101,35.314010,0.012185,4.817325
6,Bikehand Bike Bicycle Shimano Bottom Bracket R...,"Shimano Universal Standard Brake Cable Set, Fo...",0.010488,0.022572,0.009804,0.934783,41.413702,0.009567,14.987232

### Final Finding Association Analysis

tbd

# DAS

In [ ]:
compare['title'].value_counts()

Majestic MLB Mens T-Shirt                                                                                                                                                                                                 322
Under Armour Men's Storm Armour Fleece Pants                                                                                                                                                                              215
WinCraft NFL New York Giants Logo Crystal Mirror License Plate, 6 x 12                                                                                                                                                    147
Ravenox Natural Twisted Cotton Rope | Made in the USA | Strong Triple-Strand Cordage for Sports, D&eacute;cor, Pet Toys, Crafts, Macram&eacute; &amp; Indoor Outdoor Use| By the Foot &amp; Diameter (Multiple Colors)    142
Under Armour Men's HeatGear Armour Short Sleeve Compression Shirt                                                                                                                                                         123
                                                                                                                                                                                                                         ...
NCAA Top of the World Colorado State Rams Womens Lady Bling Adjustable Hat - Dark Green                                                                                                                                     1
NASCAR Chase Authentics Jimmie Johnson Groove Pullover Hoodie - Black (Large)                                                                                                                                               1
Flow Flite 2W Snowboard Binding - Women's Black, L                                                                                                                                                                          1
Smith Optics Challenger OTG Goggle                                                                                                                                                                                          1
2XU Men's Core Compression Shorts                                                                                                                                                                                           1
Name: title, Length: 913756, dtype: int64

## Task 2

### 2a) Recommender Comparison

### 2b) Sentiment Analysis

### 2c) Topic Modeling Comparison